In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir('D:\小鸡理财\OneDrive\python')

In [3]:
with pd.ExcelFile(r'D:\小鸡理财\OneDrive\python\01.xlsx') as xlsx:
    df1 = pd.read_excel(xlsx,'回款')
    df2 = pd.read_excel(xlsx,'充值')
    df3 = pd.read_excel(xlsx,'投资')

In [16]:
df = df1.append([df3])
df_sum = df.groupby(['日期']).sum()

# df_sum

df_sum = df_sum.reset_index()

# df_sum.info()

df_time = pd.DataFrame({'日期':pd.date_range(start='20170921', end='20180630', freq='D')})
# df_time

df_result = pd.merge(df_time,df_sum,on = ['日期'],how = 'left')
df_result.head(50)

# df_sum = df_result.groupby(['日期']).sum()
# df_sum.head()

           日期         回款        续投
0  2017-09-21   50175.00   1500.00
1  2017-09-22        NaN   1490.00
2  2017-09-23        NaN      0.00
3  2017-09-24        NaN      0.00
4  2017-09-25   50175.00  15490.00
5  2017-09-26   50175.00   6781.75
6  2017-09-27        NaN      0.00
7  2017-09-28        NaN      0.00
8  2017-09-29        NaN      0.00
9  2017-09-30        NaN      0.00
10 2017-10-01        NaN      0.00
11 2017-10-02        NaN      0.00
12 2017-10-03        NaN      0.00
13 2017-10-04        NaN      0.00
14 2017-10-05   88207.65  15585.80
15 2017-10-06        NaN      7.00
16 2017-10-07        NaN      0.00
17 2017-10-08        NaN      0.00
18 2017-10-09    2633.27  10000.00
19 2017-10-10     300.00   1900.00
20 2017-10-11        NaN     70.00
21 2017-10-12    1166.64    811.66
22 2017-10-13   32613.75      0.00
23 2017-10-14        NaN      0.00
24 2017-10-15     488.74     10.50
25 2017-10-16   30240.00   7890.00
26 2017-10-17        NaN      0.00
27 2017-10-18     832.47      0.01
28 2017-10-19  207609.82  47092.03
29 2017-10-20   51734.92  15258.41
30 2017-10-21   30574.98  14011.66
31 2017-10-22  211848.86   5000.00
32 2017-10-23   80604.16   6066.41
33 2017-10-24  100850.20      0.00
34 2017-10-25  201703.95      0.00
35 2017-10-26  231900.73   5000.00
36 2017-10-27   30425.08    380.58
37 2017-10-28    1321.44      0.00
38 2017-10-29   81422.07   1500.00
39 2017-10-30   50378.12    326.81
40 2017-10-31   70847.10    100.00
41 2017-11-01        NaN     11.66
42 2017-11-02  121669.35    717.91
43 2017-11-03        NaN    128.32
44 2017-11-04        NaN      0.00
45 2017-11-05   51094.97  12490.00
46 2017-11-06        NaN      3.50
47 2017-11-07  100350.00      0.00
48 2017-11-08   47344.90   3543.75
49 2017-11-09     524.15      0.00

In [18]:
df = df_result.fillna(0)
df.head(50)

           日期         回款        续投
0  2017-09-21   50175.00   1500.00
1  2017-09-22       0.00   1490.00
2  2017-09-23       0.00      0.00
3  2017-09-24       0.00      0.00
4  2017-09-25   50175.00  15490.00
5  2017-09-26   50175.00   6781.75
6  2017-09-27       0.00      0.00
7  2017-09-28       0.00      0.00
8  2017-09-29       0.00      0.00
9  2017-09-30       0.00      0.00
10 2017-10-01       0.00      0.00
11 2017-10-02       0.00      0.00
12 2017-10-03       0.00      0.00
13 2017-10-04       0.00      0.00
14 2017-10-05   88207.65  15585.80
15 2017-10-06       0.00      7.00
16 2017-10-07       0.00      0.00
17 2017-10-08       0.00      0.00
18 2017-10-09    2633.27  10000.00
19 2017-10-10     300.00   1900.00
20 2017-10-11       0.00     70.00
21 2017-10-12    1166.64    811.66
22 2017-10-13   32613.75      0.00
23 2017-10-14       0.00      0.00
24 2017-10-15     488.74     10.50
25 2017-10-16   30240.00   7890.00
26 2017-10-17       0.00      0.00
27 2017-10-18     832.47      0.01
28 2017-10-19  207609.82  47092.03
29 2017-10-20   51734.92  15258.41
30 2017-10-21   30574.98  14011.66
31 2017-10-22  211848.86   5000.00
32 2017-10-23   80604.16   6066.41
33 2017-10-24  100850.20      0.00
34 2017-10-25  201703.95      0.00
35 2017-10-26  231900.73   5000.00
36 2017-10-27   30425.08    380.58
37 2017-10-28    1321.44      0.00
38 2017-10-29   81422.07   1500.00
39 2017-10-30   50378.12    326.81
40 2017-10-31   70847.10    100.00
41 2017-11-01       0.00     11.66
42 2017-11-02  121669.35    717.91
43 2017-11-03       0.00    128.32
44 2017-11-04       0.00      0.00
45 2017-11-05   51094.97  12490.00
46 2017-11-06       0.00      3.50
47 2017-11-07  100350.00      0.00
48 2017-11-08   47344.90   3543.75
49 2017-11-09     524.15      0.00

In [28]:
#按手机号和时间对回款、充值、投资数据进行累加
df['累计回款']=df['回款'].cumsum()
# df['累计充值']=df.groupby(level = [0])['充值'].cumsum()
df['累计续投']=df['续投'].cumsum()

df.head(50)

# df.head(50)
# df.to_csv('004.csv')
# print('ok')

# df_t = df.sort_index(level = 1,ascending=False).reset_index()

# df_t.drop_duplicates(subset='手机号', keep='first', inplace=True)

# df_t.sum()

           日期         回款        续投        累计回款       累计续投
0  2017-09-21   50175.00   1500.00    50175.00    1500.00
1  2017-09-22       0.00   1490.00    50175.00    2990.00
2  2017-09-23       0.00      0.00    50175.00    2990.00
3  2017-09-24       0.00      0.00    50175.00    2990.00
4  2017-09-25   50175.00  15490.00   100350.00   18480.00
5  2017-09-26   50175.00   6781.75   150525.00   25261.75
6  2017-09-27       0.00      0.00   150525.00   25261.75
7  2017-09-28       0.00      0.00   150525.00   25261.75
8  2017-09-29       0.00      0.00   150525.00   25261.75
9  2017-09-30       0.00      0.00   150525.00   25261.75
10 2017-10-01       0.00      0.00   150525.00   25261.75
11 2017-10-02       0.00      0.00   150525.00   25261.75
12 2017-10-03       0.00      0.00   150525.00   25261.75
13 2017-10-04       0.00      0.00   150525.00   25261.75
14 2017-10-05   88207.65  15585.80   238732.65   40847.55
15 2017-10-06       0.00      7.00   238732.65   40854.55
16 2017-10-07       0.00      0.00   238732.65   40854.55
17 2017-10-08       0.00      0.00   238732.65   40854.55
18 2017-10-09    2633.27  10000.00   241365.92   50854.55
19 2017-10-10     300.00   1900.00   241665.92   52754.55
20 2017-10-11       0.00     70.00   241665.92   52824.55
21 2017-10-12    1166.64    811.66   242832.56   53636.21
22 2017-10-13   32613.75      0.00   275446.31   53636.21
23 2017-10-14       0.00      0.00   275446.31   53636.21
24 2017-10-15     488.74     10.50   275935.05   53646.71
25 2017-10-16   30240.00   7890.00   306175.05   61536.71
26 2017-10-17       0.00      0.00   306175.05   61536.71
27 2017-10-18     832.47      0.01   307007.52   61536.72
28 2017-10-19  207609.82  47092.03   514617.34  108628.75
29 2017-10-20   51734.92  15258.41   566352.26  123887.16
30 2017-10-21   30574.98  14011.66   596927.24  137898.82
31 2017-10-22  211848.86   5000.00   808776.10  142898.82
32 2017-10-23   80604.16   6066.41   889380.26  148965.23
33 2017-10-24  100850.20      0.00   990230.46  148965.23
34 2017-10-25  201703.95      0.00  1191934.41  148965.23
35 2017-10-26  231900.73   5000.00  1423835.14  153965.23
36 2017-10-27   30425.08    380.58  1454260.22  154345.81
37 2017-10-28    1321.44      0.00  1455581.66  154345.81
38 2017-10-29   81422.07   1500.00  1537003.73  155845.81
39 2017-10-30   50378.12    326.81  1587381.85  156172.62
40 2017-10-31   70847.10    100.00  1658228.95  156272.62
41 2017-11-01       0.00     11.66  1658228.95  156284.28
42 2017-11-02  121669.35    717.91  1779898.30  157002.19
43 2017-11-03       0.00    128.32  1779898.30  157130.51
44 2017-11-04       0.00      0.00  1779898.30  157130.51
45 2017-11-05   51094.97  12490.00  1830993.27  169620.51
46 2017-11-06       0.00      3.50  1830993.27  169624.01
47 2017-11-07  100350.00      0.00  1931343.27  169624.01
48 2017-11-08   47344.90   3543.75  1978688.17  173167.76
49 2017-11-09     524.15      0.00  1979212.32  173167.76

In [ ]:
def my_test(a, b):
    if a >= b:
        return b
    else:
        return a

df['new_累计充值'] = df.apply(lambda x:my_test(x['累计回款'],x['累计充值']),axis = 1)
df['new_累计投资'] = df.apply(lambda x:my_test(x['new_累计充值'],x['累计投资']),axis = 1)

df.head()

# df.to_csv('004.csv')

# print('ok')

In [ ]:
gp_final = df.groupby(level = 1).sum()
# gp_final = gp_tempt.groupby('日期').sum().groupby(level = [0])

gp_final.sort_index(level = 1,ascending=False).head()

gp_final.to_csv('003.csv')
print('ok')

In [ ]:
'''
df1 = df1.groupby(['手机号','日期']).sum()
# df1['累计回款']=df1.groupby(level = [0]).cumsum()

df2 = df2.groupby(['手机号','日期']).sum()
# df2['累计充值']=df2.groupby(level = [0]).cumsum()

df3 = df3.groupby(['手机号','日期']).sum()
# df3['累计投资']=df3.groupby(level = [0]).cumsum()
'''

In [ ]:
df_tempt_1 = pd.merge(df1,df2,left_index=True, right_index=True,how = 'outer')

df = pd.merge(df_tempt_1,df3,left_index=True, right_index=True,how = 'outer')

df.fillna(0,inplace = True)

df.head(50)

In [ ]:
#按手机号和时间对回款、充值、投资数据进行累加
df['累计回款']=df.groupby(level = [0])['回款'].cumsum()
df['累计充值']=df.groupby(level = [0])['充值'].cumsum()
df['累计投资']=df.groupby(level = [0])['投资'].cumsum()

# df.head(50)
# df.to_csv('004.csv')
# print('ok')

# df_t = df.sort_index(level = 1,ascending=False).reset_index()

# df_t.drop_duplicates(subset='手机号', keep='first', inplace=True)

# df_t.sum()

In [29]:
df.to_csv('004.csv')

print('ok')

ok